<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container my-5">
        <h2 class="my-5">Jobs</h2>
        <table class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Published</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="job : ${jobs}">
                    <td th:text="${job.title}"></td>
                    <td th:text="${job.description}"></td>
                    <td><input type="checkbox" id="published" th:checked="${job.published}" th:disabled="true"/></td>
                    <td>
                        <a th:href="@{/edit/{id}(id=${job.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="my-5"><a href="/newjob" class="btn btn-primary">New Job</a></p>
    </div>
</body>

</html>