<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add Job</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/jobdog.css}">
    </head>
    <body>
        <div class="container my-5">
            <h2 class="mb-5">New Job Posting</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/postjob}" th:object="${job}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="title" class="col-form-label">Title</label>
                                <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Title">
                                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="description" class="col-form-label">Description</label>
                                <textarea type="text" th:field="*{description}" class="form-control" id="description" rows="8" placeholder="Description"></textarea>
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="description" class="col-form-label">Tags</label>
                                <input type="text" th:field="*{tags}" class="form-control" id="tags" rows="8" placeholder="Tags">
                                <span th:if="${#fields.hasErrors('tags')}" th:errors="*{tags}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="publishDateTime" class="col-form-label">Description</label>
                                <input type="text" th:field="*{publishDateTime}" class="form-control" id="publishDateTime" placeholder="Publish date and time"></input>
                                <span th:if="${#fields.hasErrors('publishDateTime')}" th:errors="*{publishDateTime}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Post Job">
                                <a th:href="@{/}" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>