<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jobdog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/jobdog.css}">
</head>

<body>
    <div class="container my-5">
        <img th:src="@{/images/logo_transparent.png}" height="200px">
        <p class="my-5">
            <a th:href="@{/}" class="btn btn-primary">Refresh</a>
            <a th:href="@{/newjob}" class="btn btn-primary">New Job</a>
        </p>
        <table class="table table-striped table-responsive-md" id="tblJobs">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Publish at</th>
                    <th>Published</th>
                    <th>Publish Trials</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="job : ${jobs}">
                    <td th:text="${job.title}"></td>
                    <td th:text="${job.description}"></td>
                    <td th:text="${job.publishAt}"></td>
                    <td><input type="checkbox" id="published" th:checked="${job.published}" th:disabled="true"/></td>
                    <td th:text="${job.publishTrials}"></td>
                    <td>
                        <a th:unless="${job.published}" th:href="@{/edit/{id}(id=${job.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/delete/{id}(id=${job.id})}" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>